* {
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin: 0;
    padding: 0;
}
nav {
	height: 2em;
	/*CSS gradients*/
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #535259), color-stop(1, #242424));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #535259 0%, #242424 100%);
}
nav ul {
	list-style-type: none;
	text-align: center;
}
nav ul li { 
	display: inline; 
}
nav ul li a { 
	text-decoration: none; 
	padding: .2em 1em;
}
footer {
	/*CSS gradients*/	
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #535259), color-stop(1, #242424));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #535259 0%, #242424 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #535259 0%, #242424 100%);
}
a {
	color: black;
}
header {
	background-image: -ms-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%); 
	background-image: -o-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #065EA1), color-stop(1, #012642));
	background-image: -webkit-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%);
	background-image: radial-gradient(ellipse farthest-side at center, #065EA1 0%, #012642 100%);
}
section {
	background-image: -ms-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%); 
	background-image: -o-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #065EA1), color-stop(1, #012642));
	background-image: -webkit-radial-gradient(center, ellipse farthest-side, #065EA1 0%, #012642 100%); 
	background-image: radial-gradient(ellipse farthest-side at center, #065EA1 0%, #012642 100%);
}
.clearfloat {
	clear: both;
}
dl
{
	width: 520px;
	margin: 1em 0;
	padding: 0;
	border-bottom: 1px solid #999;
	background-color: red;
}	
dt
{
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
	background-color: green;
}	
dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	background-color: pink;
}